main {
  display: inline-block;
  position: relative;
  width: 90%;
  background: #1d660b;
  border: 5px solid #9c5805bd;
  margin: 1em 5%;
  box-shadow: 0 0 10px;
  font-family: "RocknRoll", sans-serif;
}

h2 {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 1rem;
}

section {
  display: inline-block;
  position: relative;
  width: 96%;
  margin: 2%;
  padding: 2rem;
  background: rgb(0, 204, 255);
  vertical-align: top;
}

article {
  background-color: #d3d3d3;
  margin: 2%;
  padding: 2rem;
  border: 1px solid black;
}

article div {
  margin: 2%;
}

.quien {
  position: relative;
  height: 25rem;
}

.quien img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.parrafouno ul {
  display: block;
  padding: 1rem;
  width: 90%;
  margin-left: 0%;
  list-style-type: circle;
}

.parrafouno ul li {
  margin: 0;
  display: list-item;
}

.rails {
  width: 90%;
  margin: 0px 5%;
  padding: 0px;
  background-color: white;
  position: relative;
  height: 11rem;
  overflow: hidden;
  border: 1px solid black;
}

.rail {
  width: 100%;
}

.rail img {
  width: 30%;
  height: 80%;
  display: inline-block;
  animation: railImg 15s linear infinite alternate;
}

.dos,
.tres,
.cuatro {
  position: absolute;
  left: 90%;
  top: -1rem;
}

@keyframes railImg {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1200px);
  }
}
.volver {
  margin-left: 5%;
}
.volver a {
  text-decoration: none;
  color: brown;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .rails {
    height: 5rem;
  }

  @keyframes railImg {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-600px);
    }
  }
}

@media screen and (max-width: 640px) {
  .quien {
    height: 15rem;
  }
  .parrafouno ul {
    width: 100%;
  }
  @keyframes railImg {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-270px);
    }
  }

  .rail img {
    width: 50%;
    animation: railImg 10s linear infinite alternate;
  }

  .dos {
    position: absolute;
    left: 45%;
  }

  .tres {
    position: absolute;
    left: 90%;
    top: 0rem;
  }
  .cuatro {
    position: absolute;
    left: 140%;
    top: 0rem;
  }
}
