* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 2rem;
}

#logo {
  display: inline-block;
  background: radial-gradient(circle at 50% 50%, red 25%, blue 60%);
  border-radius: 50%;
  box-shadow: 0px 0px 20px;
  position: relative;
  width: 4em;
  height: 4em;
}

.mario img {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 20%;
}

.mario > img:hover {
  filter: grayscale(1);
  cursor: none;
}

header h1 {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  background: url(../img/bg.jpg) repeat-x,
    linear-gradient(#0080c0 50%, #c28e4d 50%);
  /* background-color: #0080c0; */
  animation: bganimacion 15s linear 0s infinite alternate;
}

@keyframes bganimacion {
  from {
    background-position: 0px;
  }
  to {
    background-position: 400px;
  }
}

.burger {
  position: relative;
}
ul {
  display: inline-block;
  margin: 0 20% 1rem;
}
li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display: inline-block;
  color: #551a8b;
  padding: 1em;
  border: 1px grey solid;
  background: lightgray;
  font-family: "RocknRoll", sans-serif;
  box-shadow: 0px 0px 10px black;
}

li a:hover {
  background: #f83800;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px yellow;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #001dc09a;
  border: 2px solid #001dc0;
  color: rgba(255, 255, 255, 0.596);
}

footer div {
  margin: 1.2rem;
  display: inline-block;
}

footer div > a {
  position: absolute;
  left: 45%;
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.596);
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  header,
  nav {
    background: #0080c0;
  }
  body {
    background-color: #0080c0;
  }

  footer {
    position: relative;
    bottom: 0;
  }
  footer div > a {
    left: 80%;
  }
}

@media screen and (max-width: 640px) {
  header,
  nav,
  main {
    background: #0080c0;
  }
  body {
    background-color: #0080c0;
  }
  .mario > img {
    width: 50%;
    height: 2rem;
    position: absolute;
  }
  footer {
    position: relative;
    bottom: 0;
  }
  footer div {
    margin: 1.2rem;
    display: block;
  }

  footer div > a {
    position: absolute;
    left: 45%;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.596);
  }
}
