@font-face {
  font-family: "DotGothic16";
  src: url(../fonts/DotGothic16-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "RocknRoll";
  src: url(../fonts/RocknRollOne-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
