main {
  display: inline-block;
  position: relative;
  width: 90%;
  background: #1d660b;
  border: 5px solid #9c5805bd;
  margin: 1em 5%;
  box-shadow: 0 0 10px;
  font-family: "RocknRoll", sans-serif;
}

section {
  display: inline-block;
  position: relative;
  width: 70%;
  margin: 2%;
  background: rgb(0, 204, 255);
  vertical-align: top;
}

article[class="articulo principal"] {
  margin: 2%;
}

h2 {
  font-family: "DotGothic16";
  font-size: 2rem;
  padding-left: 40%;
}

.parrafo1 {
  padding: 1rem;
  padding-left: 25%;
}

.parrafo2,
.parrafo3 {
  padding: 1rem;
}

figure[class="articulo principal imagen"] {
  margin: 1rem;
  position: relative;
  width: 25%;
}

figure[class="articulo principal imagen"] img {
  width: 80%;
  position: absolute;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 0px 0px 10px;
}

aside {
  display: inline-block;
  width: 20%;
  height: 600px;
  margin: 2%;
  background: rgb(0, 204, 255);
}

aside article {
  width: 96%;
  height: 190px;
  background: #d3d3d3;
  margin: 2%;
}

aside figure {
  position: relative;
  width: 90%;
}

aside figure img {
  display: block;
  width: 90%;
  padding: 2%;
}

aside figure a {
  display: block;
  font-size: 0.8rem;
  text-decoration: none;
  width: 100%;
  margin-left: 5%;
  padding-left: 2%;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  section {
    display: block;
    position: relative;
    width: 95%;
    margin: 2%;
    background: rgb(0, 204, 255);
  }

  h2 {
    font-family: "DotGothic16";
    font-size: 2rem;
    padding: 2%;
    text-align: center;
  }

  .parrafo1,
  .parrafo2 {
    width: 95%;
    padding: 1rem;
  }

  figure[class="articulo principal imagen"] {
    width: 60%;
    height: 12rem;
    margin-left: 20%;
    display: block;
  }

  figure[class="articulo principal imagen"] img {
    width: 100%;
    height: 100%;
  }

  aside {
    display: block;
    width: 96%;
    height: 800px;
    margin: 2%;
    padding: 2%;
  }

  aside article {
    display: block;
    position: relative;
    width: 96%;
    height: 220px;
    background: #d3d3d3;
    margin: 2%;
  }

  aside figure {
    width: 80%;
  }

  aside figure img {
    display: block;
    width: 60%;
    padding: 5%;
  }

  .articulo a {
    position: absolute;
    left: 55%;
    width: 60%;
    top: 30%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  section {
    display: block;
    position: relative;
    width: 95%;
    background: rgb(0, 204, 255);
  }

  h2 {
    font-family: "DotGothic16";
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
  }

  .parrafo1,
  .parrafo2,
  .parrafo3 {
    width: 95%;
    padding: 1rem;
    font-size: 0.8rem;
  }

  figure[class="articulo principal imagen"] {
    position: relative;

    width: 96%;
    height: 190px;
    padding: 0rem;
    margin: 2%;
    display: block;
  }

  figure[class="articulo principal imagen"] img {
    width: 90%;
    height: 100%;
    margin: 2% 5%;
    box-shadow: 0 0 10px;
  }

  aside {
    display: block;
    width: 96%;
    height: 800px;
    margin: 2%;
    padding: 2%;
  }

  aside figure {
    width: 80%;
  }

  aside figure img {
    display: block;
    width: 70%;

    margin-left: 25%;
  }

  aside figure a {
    font-size: 1rem;
    width: 100%;
  }
}
