.burger input {
  display: none;
}

.icon-menu {
  display: none;
  color: #551a8b;
  background: #d3d3d3;
  padding: 1rem 2rem;
  font-size: 2rem;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  ul {
    width: 100%;
    margin-left: 2rem;
  }

  .burger input:checked ~ ul {
    display: block;
    box-shadow: 0px 0px 10px black;
  }
  .burger input:checked ~ ul li {
    width: 100%;
  }
  .burger input:checked ~ ul li a {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .icon-menu {
    display: block;
    cursor: pointer;
  }

  ul {
    display: none;
    margin: 0;
  }

  .burger input:checked ~ ul {
    display: block;
    box-shadow: 0px 0px 10px black;
  }
  .burger input:checked ~ ul li {
    width: 100%;
  }
  .burger input:checked ~ ul li a {
    width: 100%;
  }
}
